*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    background-color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 800px;
    height: 500px;
    background-color: #eee;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    justify-content:space-between;
    align-content: space-between;
}
.container div{
    color: white;
    background-color: red;
    padding-top: 35px;
    font-size: 18px;
    font-weight: bold;
    text-align:center;
}